*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
}
/* Common css */
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid #30B868;   
}
.btn-2{
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-2:hover{
    color: #ffffff;
    background-color: #30B868;
    border: 1px solid transparent;
}
.btn-3{
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: 1px solid transparent;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn-3:hover{
    background: transparent;
    border: 1px solid white;
}

/* nav Section */
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    align-items: center;
}
.nav-item ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500; 
}
.nav-item ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* banner section */
.badge {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 999px;
    
    
}
.dot{
    width: 16px;
    height: 16px;
    background: radial-gradient(circle,
    #2d7a3f 40%,
    #9ccc9c 60%,
    #d8f3d6 100%
  );
  border-radius: 50%;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 180px 0px;
    text-align: center;
}
.banner-title{
    color: white;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
}
.banner-title span{
    color: #30B868;
}
.banner-dsc{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}
/* fail-section */
.fail-section{
    margin-top: 58px;
}
.fail-section-title{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom:16px;
}
.fail-section-dsc{
    color:#627382;
    font-size: 16px;
    text-align: center;
    margin-bottom: 44px;
}
.fail-card{
    display: flex;
    gap: 24px;
    margin-bottom: 72px;
}
.card{
    width:322px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 16px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);
    background: rgba(255, 255, 255, 1);
}
.card-icon{
    width: 60px;
    height: 60px;
    color: white;
    font-size: 32px;
    background: rgba(249, 85, 85, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.card-title{
    color: rgba(0, 25, 49, 1);
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
}
.card-dsc{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
}
/* second-brain */
.second-brain{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-bottom: 120px;

}
.second-brain-img img{
    width: 600px;
    height: 600px;
    border-radius: 12px;
}
.second-brain-content{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.solution{
    color: rgba(70, 145, 101, 1);
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
}
.second-brain-content h1{
    color: rgba(0, 25, 49, 1);
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
}
.second-brain-content p{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
}
.second-brain-content ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 16px;
    color:  rgba(0, 25, 49, 1);
    font-size: 16px;
    font-weight: 500;
    margin-top: 28px;
}
.second-brain-content ul i{
    color: rgba(48, 184, 104, 1);
}

/* challenge part0 */
.challenge-part{
    background-color: rgba(247, 246, 242, 1);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    justify-content: center;
    align-items: center;
    padding: 80px 40px;
    margin-bottom: 120px;
}
.challenge-title{
    color: rgba(0, 25, 49, 1);
    font-size: 40px;
    font-weight: 700;
}
.challenge-dsc{
    color: rgba(98, 115, 130, 1);
    font-size: 16px;
    text-align: center;
}
/* Footer section */
footer{
    background:  rgba(0, 25, 49, 1);
    padding: 120px 0px 30px 0px;

}
.footer-content{
    display: flex;
    justify-content: space-between;
    color: white;
}
.social-icon{
    display: flex;
    margin-top: 16px;
    gap: 10px;
    justify-content: center;
}
.social-icon a {
   text-decoration: none;
   color: white;
}

.footer-credit{
    color: white;
    text-align: center;
    margin-top: 30px;
}
footer hr {
    color: rgba(229, 231, 235, 1);
    opacity: 0.2;
   margin: 80px 0;
}
