*{
    margin: 0;
    padding: 0;
     font-family: "Inter", sans-serif;
}
/* Common css */
.container{
    max-width: 1360px;
    margin: 0 auto;
}
.btn{
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn:hover{
    background-color: white;
    color: #30B868;
    border: 1px solid #30B868;   
}
.btn-2{
    background: transparent;
    color: white;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    padding: 12px 16px;
    margin-left: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.btn-2:hover{
    color: #ffffff;
    background-color: #30B868;
    border: none;
}
.btn-3{
    color: white;
    background-color: #30B868;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}
.btn-3:hover{
    background: transparent;
    border: 1px solid white;
}

/* nav Section */
nav{
    display: flex;
    justify-content: space-between;
    padding-top: 34px;
    align-items: center;
}
.nav-item ul{
    display: flex;
    gap: 32px;
    list-style: none;
    font-size: 16px;
    font-weight: 500; 
}
.nav-item ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
/* banner section */
.badge {
    display: inline-flex;
    gap: 6px;
    align-items: center;
    padding: 8px 12px;
    background: rgba(255, 255, 255, 1);
    border-radius: 999px;
    
    
}
.dot{
    width: 16px;
    height: 16px;
    background: radial-gradient(circle,
    #2d7a3f 40%,
    #9ccc9c 60%,
    #d8f3d6 100%
  );
  border-radius: 50%;
}
.banner{
    background-image: url(./assets/hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px 0px 180px 0px;
    text-align: center;
}
.banner-title{
    color: white;
    font-size: 72px;
    font-weight: 700;
    text-transform: capitalize;
}
.banner-title span{
    color: #30B868;
}
.banner-dsc{
    color: white;
    font-size: 18px;
    line-height: 24px;
    margin-top: 16px;
    margin-bottom: 32px;
}
